body {
        height: 100vh;
        display: flex;
        align-items: center;
        background: linear-gradient(to top left, #b42828, #d56fa7);
      }
      div {
        font-family: sans-serif;
        font-size: 25px;
        line-height: 1.3;
        width: 100%;
        padding: 30px;
        text-align: center;
        color: rgb(33, 5, 28);
      }
    